<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
        <h3><%= question.subject %></h3>
        <h3><%= question.level %></h3>

        <% question.subtopics.each do |subtopic| %>
            <h3><%= subtopic.name  %></h3>
        <% end %>

      <tr>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', delete_question_path(question), method: :delete, confirm: 'Are you sure?'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
