<p id="notice"><%= notice %></p>
<section class="content">
<h1>Listing Themes</h1>

    <% @themes.each do |theme| %>
        <%= theme.name %>
        <%= link_to 'Show', theme, class="navigation-links pure-button" %>
        <%= link_to 'Edit', edit_theme_path(theme), class="navigation-links pure-button" %>
        <%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' }, class="navigation-links pure-button" %>
    <% end %>
<br>

<%= link_to 'New Theme', new_theme_path , class:"navigation-links pure-button" %>

</section>
