<p id="notice"><%= notice %></p>
<section class="content">
<h1>Liste des réponses</h1>


    <% @answers.each do |answer| %>
        <h3><%= answer.reply %></h3>
        <%= link_to 'Show', answer, class:"pure-button navigation-links" %>
        <%= link_to 'Edit', edit_answer_path(answer), class:"pure-button navigation-links" %>
        <%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' }, class:"pure-button navigation-links" %>
    <% end %>

<br>

<%= link_to 'New Answer', new_answer_path, class:"main-links pure-button" %>
</section>
