<div class="pure-menu pure-menu-horizontal">
    <%= link_to 'Accueil',  root_path,  class:"pure-menu-heading pure-menu-link" %>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><%= link_to 'Questions' , questions_path  %></li>
        <li class="pure-menu-item"><%= link_to 'Thèmes', '#' %></li>
        <li class="pure-menu-item"><%= link_to 'Sous thèmes', subtopics_path %></li>
        <li class="pure-menu-item"><%= link_to 'Réponses', ''  %></li>
        <li class="pure-menu-item"><%= link_to 'About', about_path %></li>
    </ul>
</div>
