<!DOCTYPE html>
<html>
<head>
    <title>Questiono <%= yield :title %></title>
    <%= stylesheet_link_tag 'http://yui.yahooapis.com/pure/0.6.0/pure-min.css' %>
    <%= stylesheet_link_tag 'main'%>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial:'layouts/navigation' %>

<%= yield %>

</body>
</html>
