<!DOCTYPE html>
<html>
<head>
    <title>Questiono <%= yield :title %></title>
    <%= stylesheet_link_tag 'pure' %>
    <%= stylesheet_link_tag 'main'%>
    <%= javascript_include_tag 'angular' %>
    <%= javascript_include_tag 'angular-route' %>
    <%= javascript_include_tag 'angular-resource' %>
    <%= javascript_include_tag 'app' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="questionoapp">

<%= render partial:'layouts/navigation' %>

<%= yield %>

</body>
</html>
